<h1>To Do List</h1>


<select name="task" id="task-select">
    <option value="">Choose a task</option>
    <option value="wall">Wall</option>
    <option value="roof">Roof</option>
    <option value="floor">Floor</option>
    <option value="windows">Windows</option>
</select>


<select #newUser name="user" id="user-select">
    <option value="">Choose an user</option>
    <option value="user1">user1</option>
    <option value="user2">user2</option>
    <option value="user3">user3</option>
    <option value="user4">user4</option>
</select>